<mjml>
    <mj-head>
        <mj-title>Authorization</mj-title>
        <mj-font name="Rubik" href="https://fonts.googleapis.com/css?family=Rubik"/>
        <mj-attributes>
            <mj-all font-family="Rubik"/>
        </mj-attributes>
    </mj-head>
    <mj-body>
        <mj-container width="100%">
            <mj-section background-color="white" border="1px solid #f1f3f5" border-bottom="none" full-width="full-width"
                        padding="48px">
                <mj-column>
                    <mj-text align="center" font-size="24px" line-height="27px">

                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-section background-color="#dee2e6" border-left="1px solid #f1f3f5" border-right="1px solid #f1f3f5"
                        full-width="full-width" padding="96px 12px"
                        background-url="#">
                <mj-column background-color="white" border="1px solid #f1f3f5" width="500px">
                    <mj-text align="center" font-size="18px" font-weight="500" line-height="21px" padding="24px">
                        You requested a link to<br>sign in to <a style="color: #51cf66; text-decoration: none"
                                                                 href="#">Name sample</a>
                    </mj-text>
                    <mj-button align="center" background-color="#51cf66" border="1px solid #37b24d" border-radius="6px"
                               font-size="15px" font-weight="500" height="34px" line-height="18px" padding="0"
                               width="200px">
                        <a style="color: white; text-decoration: none" href="<%= loginLink %>">Click here to sign in</a>
                    </mj-button>
                    <mj-text align="center" font-size="12px" line-height="15px" padding="24px">
                        If you didn't request anything, plese contact us at<br><a
                                style="color: #51cf66; text-decoration: none" href="#">Name</a>
                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-section background-color="black" border="1px solid #f1f3f5" border-top="none" full-width="full-width"
                        padding="24px">
                <mj-column>
                    <mj-text align="center" font-size="15px" line-height="18px" padding="0" text-transform="uppercase">
                        <a style="color: #51cf66; text-decoration: none" href="#">company name</a>
                    </mj-text>
                    <mj-text align="center" color="white" font-size="12px" line-height="15px" padding="0">
                        &copy; all rights reserved
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-container>
    </mj-body>
</mjml>
